<?php
use AramHamo\MvcCore\Migration;
use AramHamo\MvcCore\Schema;
$GLOBALS['tableName'] = "example_table";
$table = new class {
  static function up(){
    $s = new Schema;
    $m = new Migration;
    $m->text("text_attr",16/* length */)->unique("text_attr");
    $m->int("int_attr",16/* length */);
    $m->text("char_attr",16/* length */)->primaryKey("char_attr");
    $s->create($GLOBALS['tableName'],$m->table,$m->options);
  }
  static function down(){
    $this->dropIfExists($GLOBALS['tableName']);
  }
};
